<component name="libraryTable">
  <library name="SpringMybatisDemo2">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/SpringMybatisDemo2/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/SpringMybatisDemo2/lib" recursive="false" />
  </library>
</component>